<!DOCTYPE html>
<html lang="en">
<body>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file for styling -->
    </head>
    <header>
        <nav>
            <div class="logo">
                <img src="https://media.licdn.com/dms/image/D5603AQGySrw2M3zymA/profile-displayphoto-shrink_200_200/0/1697218168484?e=1702512000&v=beta&t=uk2YaZuVEndM9_kTu-Wi8DOAZT7EGjH6ideCUi1SC44" alt="Logo Image">
            <section id="about-me">
        <h2>About Me</h2>
       <h6> <p>Hello! I'm Divyanshi Thakur,a dedicated and experienced computer programmer 
    with a love for crafting code that transforms ideas into functional software.
    My journey in the world of programming began with a burning curiosity and a 
    determination to make a difference through technology. Today, I continue to explore
 and expand my skill set while delivering top-notch solutions.My toolset spans across a 
 wide range of technologies and programming languages. From front-end development using HTML,
  CSS, and JavaScript to back-end development with Node.js and Python, I thrive in various tech
   ecosystems. I'm equally comfortable managing databases, tackling UI/UX design challenges, and 
   utilizing version control systems like Git. My adaptability and dedication are the driving forces
    behind my ability to deliver robust and scalable applications. </p></h6>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
           <h6>Proficiency in languages, such as Python, Java, C++, JavaScript.<br>
            Front-end development using HTML, CSS, and JavaScript.<br>
            Understanding of cloud platforms like AWS, Azure, or Google Cloud for deployment and scalability.</h6><br>
            <!-- Add more skills as necessary -->
        </ul>
        
    </section>
        



