</head>
<body>
    <header>
        <nav>
            <div class="heading text-center">
                <h1>Divyanshi Thakur</h1>
                <p><h3>Computer Programmer</h3></p>
            </div>
            <link rel="stylesheet" href="styles.css">
            
        </nav>
    </header>
    <section id="banner">
        <div class="banner-text">
            <h4>Hello I am Divyanshi Thakur.</h4>
            <p>I am an aspiring computer programmer.
            I'm passionate about turning ideas into functional software solutions and I constantly
            seek to expand my knowledge and skills.
            <ul>
                <li>
                    <h2> Core Skills</h2>
                 <p> The ability to analyze complex problems, break them down into smaller components, and develop logical solutions. </p>
                 <p> Knowledge of database systems, SQL (Structured Query Language), and database design principles.</p> 
                 <p>  Proficiency with version control systems like Git for tracking changes, collaboration, and code management.</p>
                 <p> The ability to integrate with various APIs and web services.</p>
                
                </li>
    
            </ul>
            </p>
        </div>
        
    
    </section>

